extends ../layout

block content
    div(id="root")
        div(class="App")
                nav(class="navbar navbar-expand-lg navbar-light bg-light")
                    a(class="navbar-brand pb-1 pt-1" href="#") 
                        img(src="/assets/img/logo_uaq.png" height="70" width="55")                        
                    h6(class="col-md-5" style="color:black") Catalogación de películas y videograbaciones

                    div(class="collapse navbar-collapse" id="navbarNav")
                        ul(class="navbar-nav ml-auto")        
                            li(class="nav-item")
                                a(class="nav-link" href="#") Registro Videograbaciones
                                    span(class="sr-only") 
                            li(class="nav-item")
                                a(class="nav-link" href="#") Consulta Videograbaciones
                                    span(class="sr-only") 
                            li(class="nav-item")
                                a(class="nav-link" href="#") Registro Bibliografico
                                    span(class="sr-only") 
                            li(class="nav-item")
                                a(class="nav-link" href="#") Consulta Bibliografica
                                    span(class="sr-only") 


                div(class="row")
                    div(class="col-md-3 main-background pt-3")
                        br
                        div(class="secondary-background ml-3" style="width:20em; height:27em;")
                            //- img(src="" style="display:none;max-width: 100%;" alt="Poster" id="posterImg")
                            img(src="http://placehold.jp/300x445.png" id="posterImg")

                    div(class="col-md-9 main-background pt-3 ")
                        form(id="mainForm" class="input-group")
                            div(class="row-labels-and-inputs")
                                div(class="row")                                                                        
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="") Código de idioma    

                                        label(class="col-md-1 mr-2" name="codigo_idioma" type="text") 041
                                        input(class="form-control col-md-1 mr-2" name="codigo_idioma" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")                                  
                                        input(class="form-control col-md-6" name="codigo_idioma" type="text" placeholder="Type something")
                                        
                            
                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Clasificación Dewey
                                        label(class="col-md-1 mr-2" name="clasificacion_dewey" type="text") 082
                                        input(class="form-control col-md-1 mr-2" name="clasificacion_dewey" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        input(class="form-control col-md-6" name="clasificacion_dewey" type="text" placeholder="791.[DDC]")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Autor personal
                                    
                                        label(class="col-md-1 mr-2" name="autor_personal" type="text") 100
                                        input(class="form-control col-md-1 mr-2" name="autor_personal" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        input(class="form-control col-md-6" name="autor_personal" type="text" id="nota_autor_personal" placeholder="Type something")
            
                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Titulo
                                    
                                        label(class="col-md-1 mr-2" name="titulo" type="text") 245
                                        input(class="form-control col-md-1 mr-2" name="titulo" type="text" placeholder="Indice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        input(class="form-control col-md-6" name="titulo" type="text" id="titulo" placeholder="Type something")
                                        button(class="btn btn-light fa fa-check" type="button" id="findFilm")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Pie de imprenta
                                     
                                        label(class="col-md-1 mr-2" name="pie_imprenta" type="text") 260
                                        input(class="form-control col-md-1 mr-2" name="pie_imprenta" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        input(class="form-control col-md-6" name="pie_imprenta" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Descripción física 
                                    
                                        label(class="col-md-1 mr-2" name="descr_fisica" type="text") 300
                                        input(class="form-control col-md-1 mr-2" name="descr_fisica" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="descr_fisica" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs" id="divNotaGeneral")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota General 
                                    
                                        label(class="col-md-1 mr-2" name="nota_general1" type="text") 490/500 
                                        input(class="form-control col-md-1 mr-2" name="nota_general1" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_general1" type="text" placeholder="Type something")
                                        button(class="btn btn-light fa fa-plus" type="button" id="addGeneral")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota creación 
                                    
                                        label(class="col-md-1 mr-2" name="nota_creacion" type="text") 508
                                        input(class="form-control col-md-1 mr-2" name="nota_creacion" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_creacion" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota particular 
                                    
                                        label(class="col-md-1 mr-2" name="nota_particular" type="text") 511
                                        input(class="form-control col-md-1 mr-2" name="nota_particular" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_particular" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota resumen 
                                    
                                        label(class="col-md-1 mr-2" name="nota_resumen" type="text") 520
                                        input(class="form-control col-md-1 mr-2" name="nota_resumen" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_resumen" id="nota_resumen" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota audiencia 
                                    
                                        label(class="col-md-1 mr-2" name="nota_audiencia" type="text") 521
                                        input(class="form-control col-md-1 mr-2" name="nota_audiencia" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_audiencia" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Sistema detalles
                                    
                                        label(class="col-md-1 mr-2" name="sistema_detalles" type="text") 538
                                        input(class="form-control col-md-1 mr-2" name="sistema_detalles" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="sistema_detalles" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota de Idioma
                                    
                                        label(class="col-md-1 mr-2" name="nota_idioma" type="text") 546
                                        input(class="form-control col-md-1 mr-2" name="nota_idioma" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_idioma" id="nota_idioma" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs" id="divNotaPremios")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Nota de premios
                                    
                                        label(class="col-md-1 mr-2" name="nota_premios1" type="text") 586
                                        input(class="form-control col-md-1 mr-2" name="nota_premios1" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="nota_premios1" id="nota_premios1" type="text" placeholder="Type something")
                                        button(class="btn btn-ligt fa fa-plus" type="button" id="addPremios")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Material General
                                    
                                        label(class="col-md-1 mr-2" name="material_gral" type="text") 650
                                        input(class="form-control col-md-1 mr-2" name="material_gral" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        textarea(class="form-control col-md-6" name="material_gral" type="text" placeholder="Type something")

                            div(class="row-labels-and-inputs")
                                div(class="row")
                                    div(class="input-group input-group-sm mb-3")
                                        div(class="input-group-prepend col-md-2")
                                            span(class="" id="") Coautor personal
                                    
                                        label(class="col-md-1 mr-2" name="coautor_pers" type="text") 700
                                        input(class="form-control col-md-1 mr-2" name="coautor_pers" type="text" placeholder="índice")
                                        input(class="form-control col-md-1 mr-2" name="subindice" type="text" placeholder="sub")
                                        input(class="form-control col-md-6" name="coautor_pers" type="text" placeholder="Type something")

                            input(class="btn btn-light input-three" type="button" value="Create XML" id="createXML")
                    


    script(src="/assets/scripts/videograbaciones.js")

  


