/*TODO: Create a better style regarding the input tags*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.short-inputs{
  width: 4em;
  margin: 0 2em 0 0;
}

.labels-marc{
  width: 10em;
  display: inline-block;
}

.row-labels-and-inputs{
  padding: 0.1em;
}

#mainForm{
  padding: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
